<h2>Cat Edit form!</h2>
<form action="/cats/1" method="post">
	<input type="hidden" value="put" name="_method">
  <!-- label's `for` attribute connects with the input's `id` attribute-->
  <label for="cat_name">First name</label>
  <!-- input name `cat[name]` means that Rails will nest the `name` attribute
       inside a `cat` hash: `{ :cat => { :name => "gizmo" } }` -->
  <input name="cat[name]" id="cat_name" type="text" value="<%= @cat.name %>">
  <br>

  <label for="cat_age">Age</label>
  <input name="cat[age]" id="cat_age" type="number" value="<%= @cat.age %>">
  <br>

  <!-- this label isn't for anything specific -->
  <label>Sex</label>
  <div>
    <!-- note that both radio buttons have the name `cat[sex]`; that's how
         they are related -->
    <input name="cat[sex]" id="cat_sex_m" type="radio" value="m" <%= 'checked' if @cat.sex == 'm' %>>
    <label for="cat_sex_m">Male</label>
    <input name="cat[sex]" id="cat_sex_f" type="radio" value="f" <%= 'checked' if @cat.sex == 'f' %>>
    <label for="cat_sex_f">Female</label>
  </div>
  <br>

  <!-- <label for="cat_biography">Biography</label>
  <textarea name="cat[biography]" id="cat_biography"></textarea>
  <br> -->

  <label for="cat_color">Coat color</label>
  <!-- dropdown -->
  <select name="cat[color]" >
    <!-- `brown` is the value that will be submitted to the server; user is
         displayed "Brown" as the choice -->

			<% Cat::COLORS.each do |color| %>
				<option value='<%= color %>' <%= "selected = selected" if color == @cat.color.to_sym %> > <%= color %> </option>
			<% end %>
  </select>
  <br>

  <label for="cat_birth_date">Birth date</label>
  <!-- click on the date will launch a date picker -->
  <input name="cat[birth_date]" id="cat_birth_date" type="date" value = <%= @cat.birth_date %> > </input>

  <input type="submit" value="Edit my cat!">

  <!--
    Other uncovered input types:
    hidden field
    check box
    -->
</form>